name: ibis-gizmosql-ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
  release:
    types:
      - published

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    services:
      gizmosql:
        image: gizmodata/gizmosql:latest
        ports:
          - 31337:31337
        env:
          GIZMOSQL_USERNAME: ibis
          GIZMOSQL_PASSWORD: ibis_password
          TLS_ENABLED: "1"
          PRINT_QUERIES: "0"
          DATABASE_FILENAME: ":memory:"
        options: >-
          --init
          --health-cmd "bash -c '</dev/tcp/localhost/31337' 2>/dev/null"
          --health-interval 5s
          --health-timeout 5s
          --health-retries 20

    steps:
      - uses: actions/checkout@v4

      - name: Clone ibis testing data
        run: git clone https://github.com/ibis-project/testing-data.git ci/ibis-testing-data

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[test]

      - name: Run tests
        run: pytest -x -n auto --dist loadgroup

  publish:
    name: Build and publish to PyPI
    runs-on: ubuntu-latest
    needs: test
    if: startsWith(github.ref, 'refs/tags')
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install build
        run: python -m pip install build

      - name: Build a binary wheel and a source tarball
        run: python -m build --sdist --wheel --outdir dist/

      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
